einops==0.8.1
h5py==3.11.0
matplotlib==3.9.4
networkx==3.6.1
numpy==2.0.2
pandas==2.3.3
pillow==10.4.0
PyWavelets==1.6.0
PyYAML==6.0.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
tensorboard==2.20.0
tensorflow==2.20.0
torch==2.8.0
tqdm==4.66.5
ipykernel==7.2.0
